gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
xr-request-additional-vulkan-graphics-queue=0
xr-use-vulkan-offscreen-swapchain-no-main-display-buffer=0
xr-meta-enabled=0
xr-vulkan-extension-fragment-density-map-enabled=1
build-guid=0a1d33430b6641c9b7504f6f565a8046
